

.btn-category {
    display: inline-block;
    width: 170px;
    height: 50px;
    border: 1px solid navy;
    margin-bottom: 15px;
    margin-right: 10px;
    color: white;
}

.btn-category:hover {
    cursor: pointer;
}